@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
    --main_bg: rgb(39, 39, 39);
    --operand_bg: rgb(93, 93, 93);
    --operand_color: rgb(228, 228, 228);
    --operator_bg: rgb(201, 201, 201);
    --equal_bg: rgb(180, 143, 73);
    --ac_bg: rgb(180, 60, 60);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--operand_color, white);
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.display-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 2rem 2rem 0 2rem;
    padding: 1rem;
    gap: 1rem;
    color: var(--main_bg, black);
    background-color: var(--operand_color, white);
    border: 0.5rem solid var(--operand_bg, gray);
    border-radius: 1.5rem;
    height: 10rem
}

.display-cov {
    background-color: var(--main_bg, black);
    border-radius: 2rem 2rem 0 0;
}

.previous-display {
    font-size: 2rem;
    text-shadow: 0px 2px 2px var(--main_bg, black);
}

.current-display {
    font-size: 3rem;
    text-shadow: 0px 2px 2px var(--main_bg, black);
}

.button-cont {
    display: grid;
    grid-template-columns: repeat(4, 7rem);
    grid-template-rows: repeat(5, 6rem);
    margin: 1.5rem;
}

.size-two {
    grid-column: span 2;
}

.button-cov {
    background-color: var(--main_bg, black);
    border-radius: 0 0 2rem 2rem;
}

button {
    font-size: 2.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    text-shadow: 0px 1px 1px var(--main_bg, black);
}

.operand {
    color: var(--operand_color, white);
    background-color: var(--operand_bg, gray);
}

.operand:active {
    box-shadow: 0 0 7px 0 rgb(35, 35, 35) inset;
    transform: translateY(2px);
    transition: 0.02s;
}

.all-clear{
    background-color: var(--ac_bg, darkred);
    color: var(--operand_color, white);
}

.all-clear:active {
    box-shadow: 0 0 7px 0 rgb(67, 22, 22) inset;
    transform: translateY(2px);
}

.equal {
    background-color: var(--equal_bg, darkorange);
    color: var(--operand_color, white)
}

.equal:active {
    box-shadow: 0 0 7px 0 rgb(67, 54, 27) inset;
    transform: translateY(2px);
    transition: 0.02s;
}

.operator,
.clear-entry {
    background-color: var(--operator_bg, whitesmoke);
    color: var(--main_bg, black);
}

.operator:active,
.clear-entry:active {
    box-shadow: 0 0 7px 0 rgb(75, 75, 75) inset;
    transform: translateY(2px);
    transition: 0.02s;
}

.dot {
    background-color: var(--operand_bg, gray);
    color: var(--operand_color, white);
}

.dot:active {
    box-shadow: 0 0 7px 0 rgb(35, 35, 35) inset;
    transform: translateY(2px);
    transition: 0.02s;
}



@media only screen and (max-width: 1300px) {
    .container {
        margin-top: -1rem;
    }

    .display-cont {
        margin: 1rem 1rem 0 1rem;
        gap: 2rem;
    }
    
    .previous-display {
        font-size: 1.5rem;
    }
    
    .current-display {
        font-size: 2.5rem;
    }
    
    .button-cont {
        display: grid;
        grid-template-columns: repeat(4, 5rem);
        grid-template-rows: repeat(5, 4rem);
        margin: 0.6rem;
    }

    button {
        font-size: 2.5rem;
        margin: 0.4rem;
    }
}

@media only screen and (max-width: 1025px) {
    .container {
        margin-top: -1rem;
    }

    .display-cont {
        margin: 1rem 1rem 0 1rem;
        gap: 2rem;
    }
    
    .previous-display {
        font-size: 1.5rem;
    }
    
    .current-display {
        font-size: 2.5rem;
    }
    
    .button-cont {
        display: grid;
        grid-template-columns: repeat(4, 5rem);
        grid-template-rows: repeat(5, 4rem);
        margin: 0.6rem;
    }

    button {
        font-size: 2.5rem;
        margin: 0.4rem;
    }
}

@media only screen and (max-width: 912px){
    .container {
        margin-top: -1rem;
    }

    .display-cont {
        margin: 1rem 1rem 0 1rem;
        gap: 2rem;
    }
    
    .previous-display {
        font-size: 1.5rem;
    }
    
    .current-display {
        font-size: 2.5rem;
    }
    
    .button-cont {
        display: grid;
        grid-template-columns: repeat(4, 5rem);
        grid-template-rows: repeat(5, 4rem);
        margin: 0.6rem;
    }

    button {
        font-size: 2.5rem;
        margin: 0.4rem;
    }
}

@media only screen and (max-width: 780px) {
    .container {
        margin-top: -1rem;
    }

    .display-cont {
        margin: 1rem 1rem 0 1rem;
        gap: 2rem;
    }
    
    .previous-display {
        font-size: 1.5rem;
    }
    
    .current-display {
        font-size: 2.5rem;
    }
    
    .button-cont {
        display: grid;
        grid-template-columns: repeat(4, 5rem);
        grid-template-rows: repeat(5, 4rem);
        margin: 0.6rem;
    }

    button {
        font-size: 2.5rem;
        margin: 0.4rem;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        margin-top: -1rem;
    }

    .display-cont {
        margin: 1rem 1rem 0 1rem;
        gap: 2rem;
    }
    
    .previous-display {
        font-size: 1.5rem;
    }
    
    .current-display {
        font-size: 2rem;
    }
    
    .button-cont {
        display: grid;
        grid-template-columns: repeat(4, 4rem);
        grid-template-rows: repeat(5, 3rem);
        margin: 0.6rem;
    }

    button {
        font-size: 2rem;
        margin: 0.2rem;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        margin-top: -1rem;
    }

    .display-cont {
        margin: 1rem 1rem 0 1rem;
        gap: 1rem;
    }
    
    .previous-display {
        font-size: 1rem;
    }
    
    .current-display {
        font-size: 1.5rem;
    }
    
    .button-cont {
        display: grid;
        grid-template-columns: repeat(4, 3rem);
        grid-template-rows: repeat(5, 3rem);
        margin: 0.6rem;
    }

    button {
        font-size: 1.5rem;
        margin: 0.2rem;
    }
}

@media only screen and (max-width: 820px) and (min-height: 1180px) {
    .container {
        margin-top: -15rem;
    }

    .display-cont {
        margin: 1rem 1rem 0 1rem;
    }
    
    .previous-display {
        font-size: 1.5rem;
    }
    
    .current-display {
        font-size: 2.5rem;
    }
    
    .button-cont {
        grid-template-columns: repeat(4, 6rem);
        grid-template-rows: repeat(5, 5rem);
        margin: 0.6rem;
    }

    button {
        font-size: 2.5rem;
        margin: 0.4rem;
    }
}

@media only screen and (max-height: 480px){
    .container {
        margin-top: 0rem;
    }

    .display-cont {
        margin: 1rem 1rem 0 1rem;
        gap: 2rem;
    }
    
    .previous-display {
        font-size: 1.5rem;
    }
    
    .current-display {
        font-size: 2.5rem;
    }
    
    .button-cont {
        display: grid;
        grid-template-columns: repeat(4, 3rem);
        grid-template-rows: repeat(5, 2rem);
        margin: 0.6rem;
    }

    button {
        font-size: 1.2rem;
        margin: 0.2rem;
    }
}